<form action='/users' method='post'>
  <input type='text' name='email' placeholder='email'>
  <input type='text' name='password' placeholder='password'>
  <input type='text' name='password_confirmation' placeholder='confirm password'>
  <input type='submit' value='submit'>
</form>
