<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <% if flash[:confirmation_error] %>
      <div id='flash'>
        <%= flash[:confirmation_error] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
